@tailwind base;
@tailwind components;
@tailwind utilities;

.green-cone {
  background: repeating-conic-gradient(green 0%, #00ff00 25%, green 33%);
  height: 100vh;
  width: 100vw;
}

.green-lines {
  background: repeating-linear-gradient(-45deg, #00ff00 2px, transparent 1rem);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.gg-input {
  background: transparent;
  border: 1px solid #333333;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin: 0rem auto 1rem;
}

.gg-btn {
  text-align: center;
  border-radius: 4px;
  border: 1px solid #222222;
  color: #fff;
  border-radius: 4px;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  line-height: normal;
  min-width: 275px;
  display: block;
  margin: 1rem auto;
  background: #333333;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.75px;
  transition: 1s;
}

.gg-btn:hover {
  cursor: pointer;
  background: #aaaaaa;
}

.confirmation-msg {
  font-size: 1rem;
  line-height: normal;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.75px;
  display: inline-block;
  border: 1px dotted #00ff00;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.label-sr {
  display: none;
  margin: 0px;
  padding: 0px;
}
